a {
    text-decoration: none;
    color: darkblue;
}

body {
    color: black;
}

.topnav {
    background-color: black;
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    font-size: 1.4vw;
    font-weight: 700;
    padding: 5px 15px 5px;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 128px; /* height of volleyball logo*/
    transition: color 0.2s linear;
}

.topnav img {
    float: left;
}

.topnav a:hover {
    color: #4dff88;
}

.topnav a.active {
    color: #4dff88;
}

.left {
    float: left;
}

.right {
    float: right;
}

div.subPageNavigation a {
    font-size: 1.6vw;
    font-weight: 700;
    text-align: center;
}

div.mainContainer {
    position: relative;
    top: 20px;
    border: solid #0066cc;
    width: 95%;
    margin: 0 auto;
    background: #f2f2f2;
    text-align: justify;
    overflow: hidden;

}

div.musicianContainer {
    position: relative;
    top: 20px;
    border: solid #0066cc;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
    background: white;
    text-align: justify;
    overflow: hidden;
}

div.textBodyMedium, div.textBodySmall {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

div.textHead {
    position: relative;
    font-size: 1.6vw;
    font-weight: 700;
    text-align: center;
}

div.textBodyMedium {
    font-size: 1.2em;
}

div.textBodySmall {
    font-size: large;
}

body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url(images/oceanBackgroundLarge.jpg);
}

img {
    max-width: 100%; /* image scale for window resize */
    height: auto;
}

img.left {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}

img.center, img.musicianCenter {
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 10px;
}

img.musicianCenter {
    display: inline;

}

img.verticalCenter {
    transform: translateY(25%);
}

.col {
    float: left;
    width: 24.4%;
    text-align: center;
    height: 330px;
}

.colBoarder {
    border-right: solid black;
}

.artistScale {
    max-width: 55%;
}

.row {
    overflow: hidden;
    width: 100%;
}

.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
    opacity: 0.5;
}

.bold {
    font-weight: 700;
    font-size: 1.25em;
}

.textCenter {
    text-align: center;
}

table.managementTable {
    border-collapse: collapse;
    margin: 0 auto;
    width: 75%;
}

.tableBold {
    font-weight: 700;
    width: 250px;
}

table.managementTable, td.managementTable {
    border: solid black;
}

td.managementTable {
    height: 40px;
    padding-left: 10px;
    background-color: #f2f2f2;
}

td:hover.managementTable, td:hover.managementTable + td.managementTable {
    background-color: #4dff88;
    -webkit-transition: background-color .25s ease-in-out;
}

table.historyTable {
    border-collapse: collapse;
    margin: 0 auto;
    width: 75%;
    font-weight: 700;
    font-size: 1.3em;
    background-color: #f2f2f2;
}

td:hover.historyTable {
    background-color: #4dff88;
    -webkit-transition: background-color .25s ease-in-out;
}